.form {
    position: relative;
    width: 300px;
    margin: 0;
    display: flex;

    .input {
        width: 100%;
        height: 55px;
        padding-left: 10px;
        border: 1px solid white;
        border-radius:  5px 0 0 5px;
        outline: none;
        background: white;
        color: #9E9C9C;
        font-family: FontAwesome;
        font-size: 18px;
    }
    
    .button {
        position: relative; 
        width: 55px;
        height: 55px;
        border: none;
        background-color:rgb(192, 209, 240);
        border-radius: 0 5px 5px 0;
        cursor: pointer;
    }
    
    .button::before {
        content: '';
        color: #F9F0DA;
        background-image: url(../../../../images/search.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 30%;
        left: 25%;
        fill: white;
    }

    &:focus{
        .input:focus{
            color: black;
        }
        .button::before:focus{
            background-image: url(../../../../images/cross.svg);
        }
    }
}


