.main{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 90px;

    .pagination{
        padding: 25px 0;
        display: flex;
        align-items: center;

        .item{
            display: flex;
            align-items: center;
        }
    }
    
    a{display: block;}
}

